<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:template-part {"slug":"hero","tagName":"section"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:pattern {"slug":"the-logical-theme/feature-grid"} /-->

<!-- wp:pattern {"slug":"the-logical-theme/media-content"} /-->

<!-- wp:pattern {"slug":"the-logical-theme/cta-band"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
